{
  "openapi": "3.0.4",
  "info": {
    "title": "Snowdrop Previsit Validation API",
    "description": "Snowdrop Previsit Validation API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/snowdrop/previsit-validation"
    }
  ],
  "paths": {
    "/previsit-validation-coverage-verification-rules": {
      "get": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "summary": "Get Rules",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleSummary"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleSummary"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleSummary"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "summary": "Creates a new Rule",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Rules.CreateRuleRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Rules.CreateRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Rules.CreateRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Rules.CreateRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-coverage-verification-rules/{ruleId}": {
      "get": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "summary": "Gets the Rule",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-coverage-verification-rules/names/isunique": {
      "get": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "summary": "Is Rule Name Unique",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-coverage-verification-rules/{ruleId}/update": {
      "put": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "summary": "Edit Rule",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Rules.UpdateRuleRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Rules.UpdateRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Rules.UpdateRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Rules.UpdateRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-coverage-verification-rules/{ruleId}/delete": {
      "put": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "summary": "Archive Rule",
        "parameters": [
          {
            "name": "ruleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-coverage-verification-rules/ruleactions": {
      "get": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-coverage-verification-rules/qualifiers": {
      "get": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-coverage-verification-rules/behaviors/manualreview/releaseactions": {
      "get": {
        "tags": [
          "CoverageVerificationRule"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System.Collections.Generic.KeyValuePair`2[[System.Int32, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.String, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/encounters/{patientId}/{dateOfService}": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "summary": "Get Encounter",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateOfService",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/encounters": {
      "post": {
        "tags": [
          "Encounter"
        ],
        "summary": "Get Encounter Summary",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterSummary.Header"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterSummary.Header"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterSummary.Header"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/encounters/{patientId}/{dateOfService}/details": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "summary": "Get Encounter Details",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateOfService",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.Details"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.Details"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.Details"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/encounters/{patientId}/{dateOfService}/release": {
      "post": {
        "tags": [
          "Encounter"
        ],
        "summary": "Release Encounter",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateOfService",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/encounters/{patientId}/{dateOfService}/reason-release": {
      "post": {
        "tags": [
          "Encounter"
        ],
        "summary": "Reason Release Encounter",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateOfService",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.ReleaseEncounterRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.ReleaseEncounterRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.ReleaseEncounterRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.ReleaseEncounterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/encounters/{patientId}/{dateOfService}/uphold": {
      "post": {
        "tags": [
          "Encounter"
        ],
        "summary": "Uphold a Released Encounter",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateOfService",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/encounters/{patientId}/{dateOfService}/requeue": {
      "post": {
        "tags": [
          "Encounter"
        ],
        "summary": "Requeue Encounter",
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateOfService",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/encounters/interventions": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "summary": "Get Interventions",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.InterventionTypes"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.InterventionTypes"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.InterventionTypes"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/encounters/rules/v2/enrolled": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/encounters/rules/v2/enroll": {
      "put": {
        "tags": [
          "Encounter"
        ],
        "summary": "Rules Version2 Mark Organization",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/encounters/rules/v2/unenroll": {
      "put": {
        "tags": [
          "Encounter"
        ],
        "summary": "Rules Version 2 Unenroll Organization (Leave Encounters)",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/previsit-validation-sequences": {
      "get": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "summary": "Get Sequences",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Sequences.SequenceHeader"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Sequences.SequenceHeader"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Sequences.SequenceHeader"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-sequences/{sequenceId}": {
      "get": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "summary": "Gets the Sequence",
        "parameters": [
          {
            "name": "sequenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Sequences.SequenceHeader"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Sequences.SequenceHeader"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Sequences.SequenceHeader"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-sequences/{sequenceId}/rules": {
      "get": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "summary": "Get Rules",
        "parameters": [
          {
            "name": "sequenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleSummary"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleSummary"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleSummary"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-sequences/{sequenceId}/update": {
      "put": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "summary": "Edit Sequence",
        "parameters": [
          {
            "name": "sequenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Sequences.UpdateSequenceRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Sequences.UpdateSequenceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Sequences.UpdateSequenceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.Sequences.UpdateSequenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-sequences/{sequenceId}/behaviors": {
      "get": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "parameters": [
          {
            "name": "sequenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-sequences/{sequenceId}/archive": {
      "put": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "summary": "Archive Sequence",
        "parameters": [
          {
            "name": "sequenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-sequences/{sequenceId}/restore": {
      "put": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "summary": "Restore Sequence",
        "parameters": [
          {
            "name": "sequenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-sequences/{sequenceId}/rules/reorder": {
      "put": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "summary": "Reorder Rules",
        "parameters": [
          {
            "name": "sequenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleOrder"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleOrder"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleOrder"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleOrder"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/previsit-validation-sequences/{sequenceId}/download": {
      "post": {
        "tags": [
          "PrevisitValidationSequence"
        ],
        "parameters": [
          {
            "name": "sequenceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{scheduledActivityId}": {
      "get": {
        "tags": [
          "ScheduledActivity"
        ],
        "summary": "Get Scheduled Activity",
        "parameters": [
          {
            "name": "scheduledActivityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.ScheduledActivityProjection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.ScheduledActivityProjection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.ScheduledActivityProjection"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Microsoft.AspNetCore.Mvc.ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "Snowdrop.Policies.Model.Eligibility.EligibilityVerificationStatusType": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8
        ],
        "type": "integer",
        "format": "int32"
      },
      "Snowdrop.Policies.Model.Eligibility.EligibilityVerificationType": {
        "enum": [
          0,
          1
        ],
        "type": "integer",
        "format": "int32"
      },
      "Snowdrop.PrevisitValidation.API.EncounterDetails.Appointment": {
        "type": "object",
        "properties": {
          "time": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "appointmentType": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "facilityId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "duration": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterDetails.AppointmentGroup": {
        "type": "object",
        "properties": {
          "serviceTypeId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "providerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "appointments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.Appointment"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterDetails.Details": {
        "type": "object",
        "properties": {
          "patientId": {
            "type": "string",
            "format": "uuid"
          },
          "dateOfService": {
            "type": "string"
          },
          "interventions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.Intervention"
            },
            "nullable": true
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.Location"
            },
            "nullable": true
          },
          "policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.Policy"
            },
            "nullable": true
          },
          "rteFaults": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterDetails.Intervention": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "guidance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterDetails.Location": {
        "type": "object",
        "properties": {
          "encounterNumber": {
            "type": "string",
            "nullable": true
          },
          "locationId": {
            "type": "string",
            "format": "uuid"
          },
          "appointmentGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.AppointmentGroup"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterDetails.Policy": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "format": "uuid"
          },
          "planId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "payerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ruleFailures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterDetails.RuleFailure"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterDetails.RuleFailure": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "guidance": {
            "type": "string",
            "nullable": true
          },
          "verificationLink": {
            "type": "string",
            "nullable": true
          },
          "rteFailure": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterRequest": {
        "type": "object",
        "properties": {
          "interventionTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "minDays": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "maxDays": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "alphaSplitStart": {
            "type": "string",
            "nullable": true
          },
          "alphaSplitEnd": {
            "type": "string",
            "nullable": true
          },
          "qualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.AttributeQualifiers"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterSummary.Header": {
        "type": "object",
        "properties": {
          "dateOfService": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-span",
            "nullable": true
          },
          "patientId": {
            "type": "string",
            "format": "uuid"
          },
          "patientDetails": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterSummary.PatientDetails"
          },
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterSummary.Location"
            },
            "nullable": true
          },
          "interventions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.EncounterSummary.Intervention"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterSummary.Intervention": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "failures": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterSummary.Location": {
        "type": "object",
        "properties": {
          "encounterNumber": {
            "type": "string",
            "nullable": true
          },
          "locationId": {
            "type": "string",
            "format": "uuid"
          },
          "providerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.EncounterSummary.PatientDetails": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "dob": {
            "type": "string",
            "nullable": true
          },
          "fan": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.InterventionOption": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.InterventionSection": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.InterventionOption"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.InterventionTypes": {
        "type": "object",
        "properties": {
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.API.InterventionSection"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.ReleaseEncounterRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.Rules.CreateRuleRequest": {
        "required": [
          "behaviorCategory",
          "name",
          "sequenceId"
        ],
        "type": "object",
        "properties": {
          "sequenceId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "description": {
            "maxLength": 250,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "userGuidance": {
            "maxLength": 250,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "behaviorCategory": {
            "type": "integer",
            "format": "int32"
          },
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "nullable": true
          },
          "qualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.AttributeQualifiers"
            },
            "nullable": true
          },
          "sameDateOfServiceQualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.AttributeQualifiers"
            },
            "nullable": true
          },
          "ruleAction": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleAction"
          },
          "releaseType": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.ReleaseType"
          },
          "behaviorConfiguration": {
            "nullable": true
          },
          "qualificationConfiguration": {
            "nullable": true
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.Rules.UpdateRuleRequest": {
        "required": [
          "behaviorCategory",
          "name",
          "ruleId"
        ],
        "type": "object",
        "properties": {
          "modifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ruleId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "description": {
            "maxLength": 250,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "userGuidance": {
            "maxLength": 250,
            "minLength": 0,
            "type": "string",
            "nullable": true
          },
          "behaviorCategory": {
            "type": "integer",
            "format": "int32"
          },
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "nullable": true
          },
          "qualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.AttributeQualifiers"
            },
            "nullable": true
          },
          "sameDateOfServiceQualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.AttributeQualifiers"
            },
            "nullable": true
          },
          "ruleAction": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleAction"
          },
          "releaseType": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.ReleaseType"
          },
          "behaviorConfiguration": {
            "nullable": true
          },
          "qualificationConfiguration": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.API.Sequences.UpdateSequenceRequest": {
        "required": [
          "sequenceId"
        ],
        "type": "object",
        "properties": {
          "sequenceId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Rules.AttributeQualifiers": {
        "type": "object",
        "properties": {
          "attributeType": {
            "$ref": "#/components/schemas/Snowdrop.Waypoints.Contracts.Rules.AttributeType"
          },
          "setQualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.SetQualifier"
            },
            "nullable": true
          },
          "elementQualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.ElementQualifier"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Rules.ElementQualifier": {
        "type": "object",
        "properties": {
          "elementId": {
            "type": "string",
            "nullable": true
          },
          "exclusionary": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Rules.NetType": {
        "enum": [
          0,
          1,
          2,
          3,
          9
        ],
        "type": "integer",
        "format": "int32"
      },
      "Snowdrop.PrevisitValidation.Rules.QualifierHeader": {
        "type": "object",
        "properties": {
          "attributeType": {
            "$ref": "#/components/schemas/Snowdrop.Waypoints.Contracts.Rules.AttributeType"
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "isSet": {
            "type": "boolean"
          },
          "exclusionary": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Rules.ReleaseType": {
        "enum": [
          0,
          1,
          2,
          3,
          4
        ],
        "type": "integer",
        "format": "int32"
      },
      "Snowdrop.PrevisitValidation.Rules.RuleAction": {
        "enum": [
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "Snowdrop.PrevisitValidation.Rules.RuleDetail": {
        "type": "object",
        "properties": {
          "sequenceId": {
            "type": "string",
            "format": "uuid"
          },
          "ruleId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "userGuidance": {
            "type": "string",
            "nullable": true
          },
          "behaviorCategory": {
            "type": "integer",
            "format": "int32"
          },
          "startDate": {
            "type": "string",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "nullable": true
          },
          "qualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.AttributeQualifiers"
            },
            "nullable": true
          },
          "sameDateOfServiceQualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.AttributeQualifiers"
            },
            "nullable": true
          },
          "behaviorConfiguration": {
            "nullable": true
          },
          "qualificationConfiguration": {
            "nullable": true
          },
          "reviewRequired": {
            "type": "boolean",
            "readOnly": true
          },
          "ruleAction": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleAction"
          },
          "releaseType": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.ReleaseType"
          },
          "netType": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.NetType"
          },
          "createdByUserId": {
            "type": "string",
            "format": "uuid"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "lastModifiedByUserId": {
            "type": "string",
            "format": "uuid"
          },
          "lastModifiedDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Rules.RuleHeader": {
        "type": "object",
        "properties": {
          "ruleId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Rules.RuleOrder": {
        "type": "object",
        "properties": {
          "ruleId": {
            "type": "string",
            "format": "uuid"
          },
          "order": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Rules.RuleSummary": {
        "type": "object",
        "properties": {
          "ruleId": {
            "type": "string",
            "format": "uuid"
          },
          "sequenceId": {
            "type": "string",
            "format": "uuid"
          },
          "order": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "userGuidance": {
            "type": "string",
            "nullable": true
          },
          "behaviorCategory": {
            "type": "integer",
            "format": "int32"
          },
          "startDate": {
            "type": "string",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "nullable": true
          },
          "qualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.QualifierHeader"
            },
            "nullable": true
          },
          "sameDateOfServiceQualifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.QualifierHeader"
            },
            "nullable": true
          },
          "ruleAction": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.RuleAction"
          },
          "releaseType": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Rules.ReleaseType"
          },
          "behaviorConfiguration": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Rules.SetQualifier": {
        "type": "object",
        "properties": {
          "setType": {
            "type": "string",
            "nullable": true
          },
          "setId": {
            "type": "string",
            "format": "uuid"
          },
          "isFactorySet": {
            "type": "boolean"
          },
          "exclusionary": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+DateEncounter"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "hasFaults": {
            "type": "boolean",
            "readOnly": true
          },
          "needsReview": {
            "type": "boolean",
            "readOnly": true
          },
          "partition": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "_etag": {
            "type": "string",
            "nullable": true
          },
          "ttl": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+DateEncounter": {
        "type": "object",
        "properties": {
          "patientId": {
            "type": "string",
            "format": "uuid"
          },
          "dateOfService": {
            "type": "string"
          },
          "companyId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "responsibleProviderId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "activities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.ScheduledActivityProjection+ScheduledActivity"
            },
            "nullable": true
          },
          "policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+Policy"
            },
            "nullable": true
          },
          "evaluated": {
            "type": "boolean"
          },
          "released": {
            "type": "boolean"
          },
          "selfPayPayer": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+Eligibility": {
        "type": "object",
        "properties": {
          "verificationId": {
            "type": "string",
            "format": "uuid"
          },
          "verificationType": {
            "$ref": "#/components/schemas/Snowdrop.Policies.Model.Eligibility.EligibilityVerificationType"
          },
          "verificationStatus": {
            "$ref": "#/components/schemas/Snowdrop.Policies.Model.Eligibility.EligibilityVerificationStatusType"
          },
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "rteError": {
            "type": "string",
            "nullable": true
          },
          "previouslyExisting": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+Policy": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "format": "uuid"
          },
          "planId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "payerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ruleAssignment": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+RuleAssignment"
          },
          "eligibility": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+Eligibility"
          },
          "ruleAssignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+RuleAssignmentV2"
            },
            "nullable": true
          },
          "ruleVerifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+Eligibility"
            },
            "nullable": true
          },
          "verificationLinks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+VerificationReport"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+RuleAssignment": {
        "type": "object",
        "properties": {
          "sequenceId": {
            "type": "string",
            "format": "uuid"
          },
          "ruleId": {
            "type": "string",
            "format": "uuid"
          },
          "verificationDate": {
            "type": "string"
          },
          "earliestEligibility": {
            "type": "string"
          },
          "latestEligibility": {
            "type": "string"
          },
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "useRTE": {
            "type": "boolean"
          },
          "trustRTE": {
            "type": "boolean"
          },
          "setDOSToTransmissionDate": {
            "type": "boolean"
          },
          "checkUnverifiedServiceTypes": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+RuleAssignmentV2": {
        "type": "object",
        "properties": {
          "sequenceId": {
            "type": "string",
            "format": "uuid"
          },
          "ruleId": {
            "type": "string",
            "format": "uuid"
          },
          "verificationDate": {
            "type": "string"
          },
          "earliestEligibility": {
            "type": "string"
          },
          "latestEligibility": {
            "type": "string"
          },
          "serviceTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "useRTE": {
            "type": "boolean"
          },
          "trustRTE": {
            "type": "boolean"
          },
          "setDOSToTransmissionDate": {
            "type": "boolean"
          },
          "checkUnverifiedServiceTypes": {
            "type": "boolean"
          },
          "verificationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Runtime.Contracts.EncounterProjection+VerificationReport": {
        "type": "object",
        "properties": {
          "verificationId": {
            "type": "string",
            "format": "uuid"
          },
          "verificationLink": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.PrevisitValidation.Runtime.Contracts.ScheduledActivityProjection": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "data": {
            "$ref": "#/components/schemas/Snowdrop.PrevisitValidation.Runtime.Contracts.ScheduledActivityProjection+ScheduledActivity"
          },
          "id": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "partition": {
            "type": "string",
[...]
