{
  "openapi": "3.1.1",
  "info": {
    "title": "Snowdrop Payments Reporting API",
    "description": "Snowdrop Payments Reporting API"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/snowdrop/payments-reporting"
    }
  ],
  "paths": {
    "/reporting/paymentremittancereconciliation": {
      "get": {
        "tags": [
          "PaymentRemittanceReconciliation"
        ],
        "summary": "Gets payments for remittance reconciliation",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RemittanceReconciliationResponse",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RemittanceReconciliationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemittanceReconciliationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemittanceReconciliationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reporting/paymentremittancereconciliation/download": {
      "get": {
        "tags": [
          "PaymentRemittanceReconciliation"
        ],
        "summary": "Downloads an Excel spreadsheet of payments",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/reporting": {
      "get": {
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "entity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reporting/{reportId}/history/{runId}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadReportRunResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadReportRunResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadReportRunResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reporting/{reportId}/history/list/{groupBy}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "groupBy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportHistoryPage"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportHistoryPage"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportHistoryPage"
                }
              }
            }
          }
        }
      }
    },
    "/reporting/generate/{reportId}": {
      "post": {
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ReportOptionsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportOptionsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportOptionsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReportOptionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CompanyLocationDate": {
        "required": [
          "ledgerDate",
          "companyId",
          "companyName",
          "locationId",
          "locationName",
          "payments"
        ],
        "type": "object",
        "properties": {
          "ledgerDate": {
            "$ref": "#/components/schemas/Date"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "companyName": {
            "type": [
              "null",
              "string"
            ]
          },
          "locationId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "locationName": {
            "type": [
              "null",
              "string"
            ]
          },
          "payments": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "totalReceived": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "double"
          },
          "fees": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "double"
          },
          "depositAmount": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "double"
          }
        }
      },
      "Date": { },
      "DownloadReportRunResponse": {
        "required": [
          "content",
          "date",
          "request"
        ],
        "type": "object",
        "properties": {
          "content": {
            "type": [
              "null",
              "string"
            ]
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "request": {
            "$ref": "#/components/schemas/ReportOptionsRequest"
          }
        }
      },
      "GenerateResponse": {
        "required": [
          "runId",
          "content"
        ],
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid"
          },
          "content": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "IReportParameter": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "required": {
            "type": "boolean"
          },
          "implicit": {
            "type": "boolean"
          },
          "parameterType": {
            "$ref": "#/components/schemas/ReportParameterType"
          }
        }
      },
      "Payment": {
        "required": [
          "paymentSpecificationId",
          "entityId",
          "entityType",
          "account",
          "receivedBy",
          "paymentDetails",
          "totalReceived",
          "fees",
          "paymentDate",
          "isRefund",
          "depositDate",
          "payoutId"
        ],
        "type": "object",
        "properties": {
          "paymentSpecificationId": {
            "type": "string",
            "format": "uuid"
          },
          "entityId": {
            "type": "string",
            "format": "uuid"
          },
          "entityType": {
            "type": [
              "null",
              "string"
            ]
          },
          "account": {
            "type": [
              "null",
              "string"
            ]
          },
          "receivedBy": {
            "type": "string",
            "format": "uuid"
          },
          "paymentDetails": {
            "type": [
              "null",
              "string"
            ]
          },
          "totalReceived": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "double"
          },
          "fees": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "double"
          },
          "paymentDate": {
            "type": "string",
            "format": "date-time"
          },
          "isRefund": {
            "type": "boolean"
          },
          "depositDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          },
          "payoutId": {
            "type": [
              "null",
              "string"
            ]
          },
          "depositAmount": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "type": [
              "number",
              "string"
            ],
            "format": "double"
          }
        }
      },
      "RemittanceReconciliationResponse": {
        "required": [
          "groupings"
        ],
        "type": "object",
        "properties": {
          "groupings": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/CompanyLocationDate"
            }
          }
        }
      },
      "Report": {
        "required": [
          "id",
          "name",
          "description",
          "entity",
          "path",
          "parameters"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "entity": {
            "type": [
              "null",
              "string"
            ]
          },
          "path": {
            "type": [
              "null",
              "string"
            ]
          },
          "parameters": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/IReportParameter"
            }
          }
        }
      },
      "ReportHistoryListItem": {
        "required": [
          "runId",
          "date",
          "userId",
          "status"
        ],
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/ReportStatus"
          }
        }
      },
      "ReportHistoryPage": {
        "required": [
          "reportRuns",
          "continuationToken"
        ],
        "type": "object",
        "properties": {
          "reportRuns": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/ReportHistoryListItem"
            }
          },
          "continuationToken": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ReportOptionsRequest": {
        "required": [
          "user",
          "parameters"
        ],
        "type": "object",
        "properties": {
          "user": {
            "type": [
              "null",
              "string"
            ]
          },
          "includeCriteria": {
            "type": "boolean"
          },
          "parameters": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/ReportParameterValue"
            }
          }
        }
      },
      "ReportParameterType": {
        "type": "integer"
      },
      "ReportParameterValue": {
        "required": [
          "name",
          "parameterType",
          "value"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "parameterType": {
            "$ref": "#/components/schemas/ReportParameterType"
          },
          "value": {
            "type": [
              "null",
              "object"
            ],
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ReportOptionsRequest/properties/parameters/items/properties/value/additionalProperties"
                }
              }
            }
          }
        }
      },
      "ReportStatus": {
        "type": "integer"
      }
    }
  },
  "tags": [
    {
      "name": "PaymentRemittanceReconciliation"
    },
    {
      "name": "Reports"
    }
  ]
}