{
  "openapi": "3.1.1",
  "info": {
    "title": "Snowdrop Ledger Public API",
    "description": "Snowdrop Ledger Public API"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/ledger"
    }
  ],
  "paths": {
    "/signalr/charges/negotiate": {
      "post": {
        "tags": [
          "Signalr"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signalr/charges/{chargeId}/users/add": {
      "post": {
        "tags": [
          "Signalr"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signalr/charges/{chargeId}/users/remove": {
      "post": {
        "tags": [
          "Signalr"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signalr/patient-payments/negotiate": {
      "post": {
        "tags": [
          "Signalr"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signalr/patient-payments/{patientId}/users/add": {
      "post": {
        "tags": [
          "Signalr"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/signalr/patient-payments/{patientId}/users/remove": {
      "post": {
        "tags": [
          "Signalr"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/auto-apply/patients/{patientId}": {
      "get": {
        "tags": [
          "AutoApplying"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/WriteMode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/auto-apply/patients/{patientId}/report": {
      "get": {
        "tags": [
          "AutoApplying"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "organizationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includePaymentsWithoutFunds",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeChargesWithoutBalance",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AutoApplyReport"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoApplyReport"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoApplyReport"
                }
              }
            }
          }
        }
      }
    },
    "/charges/utilities/patient-summary-charge-balances-calculated/{organizationId}/{patientId}/{chargeId}/latest": {
      "get": {
        "tags": [
          "ChargeUtility"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeSummary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeSummary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeSummary"
                }
              }
            }
          }
        }
      }
    },
    "/charges/utilities/ensure-charge-has-summary/{organizationId}/{chargeId}": {
      "get": {
        "tags": [
          "ChargeUtility"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "force",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/feed/continuation-tokens": {
      "get": {
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "asOfDateTimeUtc",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/projections/charges/set-missing-tags": {
      "get": {
        "tags": [
          "Projections"
        ],
        "parameters": [
          {
            "name": "maxUpdates",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/projections/payments/set-missing-tags": {
      "get": {
        "tags": [
          "Projections"
        ],
        "parameters": [
          {
            "name": "maxUpdates",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/projections/reserved-funds/build": {
      "get": {
        "tags": [
          "Projections"
        ],
        "parameters": [
          {
            "name": "resetManualContinuationToken",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/projections/reserved-funds/stop": {
      "get": {
        "tags": [
          "Projections"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/projections/reserved-funds/set-missing-tags": {
      "get": {
        "tags": [
          "Projections"
        ],
        "parameters": [
          {
            "name": "maxUpdates",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/utility/import/patients": {
      "get": {
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sourceOrganizationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sourcePatientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "targetPatientId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "targetOrganizationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "configurationPrefix",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPatientResults"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPatientResults"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPatientResults"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPatientRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPatientRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPatientRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ImportPatientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPatientResults"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPatientResults"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportPatientResults"
                }
              }
            }
          }
        }
      }
    },
    "/p/charges/{chargeId}": {
      "get": {
        "tags": [
          "ChargeProjections"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/p/charges/{chargeId}/build": {
      "get": {
        "tags": [
          "ChargeProjections"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p/charges/patients/{patientId}": {
      "get": {
        "tags": [
          "ChargeProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/p/charges/{chargeId}/snapshot": {
      "get": {
        "tags": [
          "ChargeProjections"
        ],
        "parameters": [
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfCharge"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfCharge"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfCharge"
                }
              }
            }
          }
        }
      }
    },
    "/p/charges/patients/{patientId}/summaries": {
      "get": {
        "tags": [
          "ChargeProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientChargeSummaryProjection"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientChargeSummaryProjection"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientChargeSummaryProjection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/charges/patients/{patientId}/summaries/{chargeId}": {
      "get": {
        "tags": [
          "ChargeProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chargeId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PatientChargeSummaryProjection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientChargeSummaryProjection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientChargeSummaryProjection"
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/{paymentId}": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/payments/all/build": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/payments/{paymentId}/build": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/p/payments/{paymentId}/snapshot": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfPayment"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfPayment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfPayment"
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/collected": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentCollectedProjection"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentCollectedProjection"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentCollectedProjection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/collected/{paymentId}": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentCollectedProjection"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentCollectedProjection"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentCollectedProjection"
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/list": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/payments": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/payments/{paymentId}": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/summaries": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentSummary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentSummary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentSummary"
                }
              }
            }
          }
        }
      }
    },
    "/p/payments/patients/{patientId}/summaries/{paymentId}": {
      "get": {
        "tags": [
          "PaymentProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSummaryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSummaryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/p/reserved-funds/{paymentId}/{companyId}": {
      "get": {
        "tags": [
          "ReservedFundProjections"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateOfService",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "divisionId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "serviceType",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/p/reserved-funds/{paymentId}/build": {
      "get": {
        "tags": [
          "ReservedFundProjections"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectionCoordinatorResultResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/reserved-funds/patients/{patientId}": {
      "get": {
        "tags": [
          "ReservedFundProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/p/reserved-funds/patients/{patientId}/summaries": {
      "get": {
        "tags": [
          "ReservedFundProjections"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentReservedFundBalanceProjection"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentReservedFundBalanceProjection"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentReservedFundBalanceProjection"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/reserved-funds/payments/{paymentId}/snapshots/{companyId}": {
      "get": {
        "tags": [
          "ReservedFundProjections"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dateOfService",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "divisionId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "serviceType",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfPaymentReservedFund"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfPaymentReservedFund"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectedSnapshotOfPaymentReservedFund"
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/companies/{companyId}": {
      "get": {
        "tags": [
          "CompanyProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCompanyV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCompanyV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceCompanyV2"
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/companies/{companyId}/divisions": {
      "get": {
        "tags": [
          "CompanyProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ResourceDivision"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ResourceDivision"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ResourceDivision"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/companies/{companyId}/divisions/{divisionId}": {
      "get": {
        "tags": [
          "CompanyProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "divisionId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivision"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivision"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivision"
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/companies/{companyId}/month-end/{year}/{month}": {
      "get": {
        "tags": [
          "CompanyProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Month"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResourceMonthClosed"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResourceMonthClosed"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResourceMonthClosed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/companies/{companyId}/month-end": {
      "get": {
        "tags": [
          "CompanyProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResourceMonthClosed"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResourceMonthClosed"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResourceMonthClosed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/companies/{companyId}/month-end/last": {
      "get": {
        "tags": [
          "CompanyProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMonthClosed"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMonthClosed"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMonthClosed"
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/companies/{companyId}/time-zone-id": {
      "get": {
        "tags": [
          "CompanyProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/divisions/{divisionId}": {
      "get": {
        "tags": [
          "DivisionProjections"
        ],
        "parameters": [
          {
            "name": "divisionId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivisionLedgerV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivisionLedgerV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivisionLedgerV2"
                }
              }
            }
          }
        }
      }
    },
    "/p/resources/divisions/{divisionId}/ledgers": {
      "get": {
        "tags": [
          "DivisionProjections"
        ],
        "parameters": [
          {
            "name": "divisionId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivisionLedgerV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivisionLedgerV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceDivisionLedgerV2"
                }
              }
            }
          }
        }
      }
    },
    "/p/policies/{policyId}": {
      "get": {
        "tags": [
          "PoliciesProjection"
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        }
      }
    },
    "/p/policies/{policyId}/build": {
      "post": {
        "tags": [
          "PoliciesProjection"
        ],
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/ledger/p/payers/{payerId}/contracts/{contractId}/allowed": {
      "post": {
        "tags": [
          "Allowed"
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PayerContractAllowedRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayerContractAllowedRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PayerContractAllowedRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PayerContractAllowedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityDetailAllowed"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityDetailAllowed"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityDetailAllowed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/{payerId}": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayersPayerV4"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersPayerV4"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersPayerV4"
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/plans/{planId}": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayersPlanV3"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersPlanV3"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersPlanV3"
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/{payerId}/contracts": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayerContractCollectionV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerContractCollectionV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerContractCollectionV2"
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/{payerId}/contracts/{contractId}": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayerContractDetailV4"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerContractDetailV4"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerContractDetailV4"
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/snf/{snfId}": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "snfId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayersSnfV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersSnfV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersSnfV2"
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/snf-patients/{snfPatientId}": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "snfPatientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayersSnfPatientV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersSnfPatientV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersSnfPatientV2"
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/manufacturer-copay-programs/{programId}": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "programId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayersManufacturerCopayProgramV2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersManufacturerCopayProgramV2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayersManufacturerCopayProgramV2"
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/fee-schedules/{feeScheduleId}": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "feeScheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayerFeeScheduleV4"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerFeeScheduleV4"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerFeeScheduleV4"
                }
              }
            }
          }
        }
      }
    },
    "/p/payers/fee-schedules/{feeScheduleId}/fees/{chargeCode}": {
      "get": {
        "tags": [
          "PayerProjections"
        ],
        "parameters": [
          {
            "name": "feeScheduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chargeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifierId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ndc",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PayerFeeV3"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerFeeV3"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerFeeV3"
                }
              }
            }
          }
        }
      }
    },
    "/p/companies/{companyId}/chargemasters/{chargeMasterId}": {
      "get": {
        "tags": [
          "ChargeMasterProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chargeMasterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeMaster"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeMaster"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeMaster"
                }
              }
            }
          }
        }
      }
    },
    "/p/companies/{companyId}/chargemasters/{chargeMasterId}/fee/{chargeCode}": {
      "get": {
        "tags": [
          "ChargeMasterProjections"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chargeMasterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chargeCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifierId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ndc",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activityCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fee"
                }
              }
            }
          }
        }
      }
    },
    "/p/catalogs/activities/{activityTypeId}/service-type-mapping": {
      "get": {
        "tags": [
          "CatalogProjections"
        ],
        "parameters": [
          {
            "name": "activityTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityServiceTypeMapping"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityServiceTypeMapping"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityServiceTypeMapping"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentCreatedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentCreatedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentCreatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/payments/{paymentId}/raw": {
      "get": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/payments/{paymentId}/fix-missing-transactions": {
      "get": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Result"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/payments/{paymentId}/fix-missing-payment-applied": {
      "get": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "chargeId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientPaymentChargeApplicationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ledgerDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "writeMode",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/WriteMode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplyResult"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/payments/list": {
      "get": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/payments/{paymentId}/list-summary": {
      "get": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSummaryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSummaryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/payments/summary": {
      "get": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentSummary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentSummary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientPaymentSummary"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "minLength": 28,
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
[...]
