{
  "openapi": "3.1.1",
  "info": {
    "title": "Snowdrop Security Services",
    "description": "Services to manage security"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/snowdrop/security/services"
    }
  ],
  "paths": {
    "/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Gets a list of all Locations for UI usage",
        "parameters": [
          {
            "name": "org-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LocationListResponseItem[]",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/clinical": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Gets a list of all Clinical Locations for UI usage",
        "parameters": [
          {
            "name": "org-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/engagement": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Gets a list of all Engagement Locations for UI usage",
        "parameters": [
          {
            "name": "org-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationListResponseItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Gets a single location",
        "parameters": [
          {
            "name": "org-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LocationListResponseItem",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponseItem"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponseItem"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponseItem"
                }
              }
            }
          }
        }
      }
    },
    "/userroles": {
      "get": {
        "tags": [
          "UserRoles"
        ],
        "summary": "Gets a the current userRole",
        "operationId": "GetUserRole",
        "parameters": [
          {
            "name": "org-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userRoleId",
            "in": "query",
            "description": "UserRole Id",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UserRole"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRole"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRole"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "org-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/locations": {
      "get": {
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "org-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserLocationAssignment"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserLocationAssignment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserLocationAssignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/me/groups": {
      "get": {
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserGroupAssignment"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserGroupAssignment"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserGroupAssignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/me/roles": {
      "get": {
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "org-id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UserRoleMembershipOfUserRoleHeader"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRoleMembershipOfUserRoleHeader"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRoleMembershipOfUserRoleHeader"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": [
              "null",
              "string"
            ]
          },
          "addressLine2": {
            "type": [
              "null",
              "string"
            ]
          },
          "city": {
            "type": [
              "null",
              "string"
            ]
          },
          "stateId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "zipCode": {
            "type": [
              "null",
              "string"
            ]
          },
          "county": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "LocationListResponseItem": {
        "required": [
          "label",
          "value",
          "timeZoneId",
          "tag",
          "removed",
          "locationType",
          "address",
          "phone"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": [
              "null",
              "string"
            ]
          },
          "value": {
            "type": "string",
            "format": "uuid"
          },
          "timeZoneId": {
            "type": [
              "null",
              "string"
            ]
          },
          "tag": {
            "type": [
              "null",
              "string"
            ]
          },
          "removed": {
            "type": "boolean"
          },
          "locationType": {
            "$ref": "#/components/schemas/LocationType"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          }
        }
      },
      "LocationType": {
        "type": "integer"
      },
      "Phone": {
        "type": "object",
        "properties": {
          "phoneType": {
            "$ref": "#/components/schemas/PhoneType"
          },
          "number": {
            "type": [
              "null",
              "string"
            ]
          },
          "extension": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "PhoneType": {
        "type": "integer"
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "UserGroupAssignment": {
        "required": [
          "userGroupId"
        ],
        "type": "object",
        "properties": {
          "userGroupId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "UserLocationAssignment": {
        "required": [
          "locationId"
        ],
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "locations": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/UserLocationAssignment"
            }
          },
          "roles": {
            "$ref": "#/components/schemas/UserRoleMembershipOfUserRoleHeader"
          }
        }
      },
      "UserRole": {
        "type": "object",
        "properties": {
          "userRoleId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "isSystemGenerated": {
            "type": "boolean"
          },
          "isArchived": {
            "type": "boolean"
          },
          "securityGroups": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "users": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "locations": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "permissionSets": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "audienceSegments": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "UserRoleHeader": {
        "type": "object",
        "properties": {
          "userRoleId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "isSystemGenerated": {
            "type": "boolean"
          },
          "isArchived": {
            "type": "boolean"
          },
          "securityGroupsCount": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "UserRoleMembershipOfUserRoleHeader": {
        "type": "object",
        "properties": {
          "directlyAssigned": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/UserRoleHeader"
            }
          },
          "groupInherited": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/UserRoleHeader"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Locations"
    },
    {
      "name": "UserRoles"
    },
    {
      "name": "Users"
    }
  ]
}