{
  "openapi": "3.1.1",
  "info": {
    "title": "Snowdrop Patient Agreements API",
    "description": "Snowdrop Patient Agreements API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/snowdrop/patientagreements"
    }
  ],
  "paths": {
    "/patients/{patientId}/agreements/status": {
      "get": {
        "tags": [
          "PatientAgreement"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PatientAgreementsStatus"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientAgreementsStatus"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientAgreementsStatus"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/agreements/{date}": {
      "get": {
        "tags": [
          "PatientAgreement"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementSummary"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementSummary"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgreementSummary"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/agreements/{date}/status": {
      "get": {
        "tags": [
          "PatientAgreement"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PatientAgreementsStatus"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientAgreementsStatus"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientAgreementsStatus"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/agreements/type/{agreementTypeId}": {
      "get": {
        "tags": [
          "PatientAgreement"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "agreementTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agreement"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PatientAgreement"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "agreementTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePatientAgreementsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePatientAgreementsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePatientAgreementsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePatientAgreementsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/agreements/editall": {
      "post": {
        "tags": [
          "PatientAgreement"
        ],
        "parameters": [
          {
            "name": "patientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllPatientAgreementsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllPatientAgreementsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllPatientAgreementsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllPatientAgreementsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAllPatientAgreementsValidationErrors"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAllPatientAgreementsValidationErrors"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAllPatientAgreementsValidationErrors"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddPatientAgreementRequest": {
        "required": [
          "agreementTypeId",
          "agreementId",
          "responseId",
          "effectiveStartDate",
          "effectiveEndDate"
        ],
        "type": "object",
        "properties": {
          "agreementTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "agreementId": {
            "type": "string",
            "format": "uuid"
          },
          "responseId": {
            "type": "string",
            "format": "uuid"
          },
          "effectiveStartDate": {
            "$ref": "#/components/schemas/Date"
          },
          "effectiveEndDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          }
        }
      },
      "AddUpdateAgreementRequest": {
        "required": [
          "agreementId",
          "responseId",
          "effectiveStartDate",
          "effectiveEndDate"
        ],
        "type": "object",
        "properties": {
          "agreementId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "responseId": {
            "type": "string",
            "format": "uuid"
          },
          "effectiveStartDate": {
            "$ref": "#/components/schemas/Date"
          },
          "effectiveEndDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          }
        }
      },
      "Agreement": {
        "required": [
          "agreementId",
          "agreementTypeId",
          "agreementType",
          "responseId",
          "effectiveStartDate",
          "effectiveEndDate"
        ],
        "type": "object",
        "properties": {
          "agreementId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "agreementTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "agreementType": {
            "type": "string"
          },
          "responseId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "effectiveStartDate": {
            "$ref": "#/components/schemas/Date"
          },
          "effectiveEndDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          }
        }
      },
      "AgreementSummary": {
        "required": [
          "agreementId",
          "agreementTypeId",
          "agreementType",
          "responseId",
          "isActive",
          "effectiveStartDate",
          "effectiveEndDate"
        ],
        "type": "object",
        "properties": {
          "agreementId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "agreementTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "agreementType": {
            "type": "string"
          },
          "responseId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "isActive": {
            "type": [
              "null",
              "boolean"
            ]
          },
          "effectiveStartDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          },
          "effectiveEndDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          }
        }
      },
      "Date": {
        "title": "Sharp.Date",
        "type": "string",
        "format": "date",
        "example": "2024-12-11"
      },
      "EarliestEffectiveDate": {
        "required": [
          "agreementTypeId",
          "earliestDate"
        ],
        "type": "object",
        "properties": {
          "agreementTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "earliestDate": {
            "$ref": "#/components/schemas/Date"
          }
        }
      },
      "PatientAgreementsStatus": {
        "required": [
          "agreementsNeeded",
          "earliestEffectiveDates"
        ],
        "type": "object",
        "properties": {
          "agreementsNeeded": {
            "type": "boolean"
          },
          "earliestEffectiveDates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EarliestEffectiveDate"
            }
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "UpdateAllPatientAgreementsRequest": {
        "required": [
          "agreements"
        ],
        "type": "object",
        "properties": {
          "agreements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddPatientAgreementRequest"
            }
          }
        }
      },
      "UpdateAllPatientAgreementsValidationError": {
        "required": [
          "reason",
          "agreementTypeId",
          "agreementId"
        ],
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          },
          "agreementTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "agreementId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "UpdateAllPatientAgreementsValidationErrors": {
        "required": [
          "failures"
        ],
        "type": "object",
        "properties": {
          "failures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpdateAllPatientAgreementsValidationError"
            }
          },
          "isValid": {
            "type": "boolean"
          }
        }
      },
      "UpdatePatientAgreementsRequest": {
        "required": [
          "modifiedDate"
        ],
        "type": "object",
        "properties": {
          "agreementRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddUpdateAgreementRequest"
            }
          },
          "modifiedDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "PatientAgreement"
    }
  ]
}