{
  "openapi": "3.0.4",
  "info": {
    "title": "Snowdrop Patient Providers API",
    "description": "Snowdrop Patient Providers API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/snowdrop/patient-providers"
    }
  ],
  "paths": {
    "/patients/{patientId}/primarycareprovider": {
      "put": {
        "tags": [
          "PrimaryCareProvider"
        ],
        "summary": "Sets the primary care provider for a patient",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.SetPrimaryCareProviderRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.SetPrimaryCareProviderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.SetPrimaryCareProviderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.SetPrimaryCareProviderRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "PrimaryCareProvider"
        ],
        "summary": "Removes primary care provider for a patient",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "PrimaryCareProvider"
        ],
        "summary": "Gets the primary care provider for a patient",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.PrimaryCareProvider"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.PrimaryCareProvider"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.PrimaryCareProvider"
                }
              }
            }
          }
        }
      }
    },
    "/responsibleproviders/referring/{responsibleProviderResourceId}/frequent/{count}": {
      "get": {
        "tags": [
          "ResponsibleProviders"
        ],
        "summary": "Gets a list of the top 12 frequently used Referring Provider Catalog Ids, for a responsible provider, ordered by frequency of use",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "responsibleProviderResourceId",
            "in": "path",
            "description": "Responsible Provider Resource id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "count",
            "in": "path",
            "description": "Optional number of frequently used providers to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/responsibleproviders": {
      "put": {
        "tags": [
          "ResponsibleProviders"
        ],
        "summary": "Adds a new provider.",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.AddResponsibleProviderRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.AddResponsibleProviderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.AddResponsibleProviderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.AddResponsibleProviderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ResponsibleProviders"
        ],
        "summary": "Gets all providers.",
        "operationId": "GetResponsibleProviders",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/patients/{patientId}/responsibleproviders/{responsibleProviderId}": {
      "put": {
        "tags": [
          "ResponsibleProviders"
        ],
        "summary": "Updates a provider.",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "responsibleProviderId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.UpdateResponsibleProviderRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.UpdateResponsibleProviderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.UpdateResponsibleProviderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.API.UpdateResponsibleProviderRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ResponsibleProviders"
        ],
        "summary": "Gets a single provider.",
        "operationId": "GetResponsibleProvider",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "responsibleProviderId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snowdrop.Patient_Providers.Contracts.ResponsibleProvider"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ResponsibleProviders"
        ],
        "summary": "Removes a provider",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "responsibleProviderId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/patients/{patientId}/responsibleproviders/reorder": {
      "post": {
        "tags": [
          "ResponsibleProviders"
        ],
        "summary": "Reorders the providers.",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "patientId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Ordered array of responsibleProviderIds",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Microsoft.AspNetCore.Mvc.ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": { }
      },
      "Snowdrop.Patient_Providers.Contracts.API.AddResponsibleProviderRequest": {
        "required": [
          "providerResourceId"
        ],
        "type": "object",
        "properties": {
          "providerResourceId": {
            "type": "string",
            "format": "uuid"
          },
          "referringProviderCatalogId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.Patient_Providers.Contracts.API.SetPrimaryCareProviderRequest": {
        "required": [
          "providerCatalogId"
        ],
        "type": "object",
        "properties": {
          "providerCatalogId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.Patient_Providers.Contracts.API.UpdateResponsibleProviderRequest": {
        "required": [
          "providerResourceId"
        ],
        "type": "object",
        "properties": {
          "providerResourceId": {
            "type": "string",
            "format": "uuid"
          },
          "referringProviderCatalogId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.Patient_Providers.Contracts.PrimaryCareProvider": {
        "type": "object",
        "properties": {
          "providerCatalogId": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "partition": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "Snowdrop.Patient_Providers.Contracts.ResponsibleProvider": {
        "type": "object",
        "properties": {
          "responsibleProviderId": {
            "type": "string",
            "format": "uuid"
          },
          "providerResourceId": {
            "type": "string",
            "format": "uuid"
          },
          "referringProviderCatalogId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}