{
  "openapi": "3.1.1",
  "info": {
    "title": "Snowdrop Analytics API",
    "description": "Snowdrop Analytics API"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/snowdrop/analytics/public"
    }
  ],
  "paths": {
    "/datadictionary/tables": {
      "get": {
        "tags": [
          "DataDictionary"
        ],
        "summary": "Gets all Gravity tables",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataDictionaryResponseOfDataDictionaryTable"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataDictionaryResponseOfDataDictionaryTable"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataDictionaryResponseOfDataDictionaryTable"
                }
              }
            }
          }
        }
      }
    },
    "/datadictionary/tables/columns": {
      "get": {
        "tags": [
          "DataDictionary"
        ],
        "summary": "Gets all Gravity table columns",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DataDictionaryResponseOfDataDictionaryColumn"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataDictionaryResponseOfDataDictionaryColumn"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataDictionaryResponseOfDataDictionaryColumn"
                }
              }
            }
          }
        }
      }
    },
    "/datadictionary/tables/columns/download": {
      "get": {
        "tags": [
          "DataDictionary"
        ],
        "summary": "Downloads an xlsx file containing the Gravity table columns",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/etlstatus": {
      "get": {
        "tags": [
          "EtlStatus"
        ],
        "summary": "Gets the ETL status, of each event category, and the total number of events outstanding",
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EventEtlStatusResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventEtlStatusResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventEtlStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/powerbilinks": {
      "get": {
        "tags": [
          "PowerBiLinks"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PowerBiLinksResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PowerBiLinksResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PowerBiLinksResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/reports/report": {
      "delete": {
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Gets a report file stream",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "File Stream",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DataDictionaryColumn": {
        "required": [
          "tableName",
          "name",
          "order",
          "dataType",
          "description",
          "relatedTable"
        ],
        "type": "object",
        "properties": {
          "tableName": {
            "type": [
              "null",
              "string"
            ]
          },
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "order": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "dataType": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "relatedTable": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "DataDictionaryResponseOfDataDictionaryColumn": {
        "type": "object",
        "properties": {
          "published": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "items": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/DataDictionaryColumn"
            }
          }
        }
      },
      "DataDictionaryResponseOfDataDictionaryTable": {
        "type": "object",
        "properties": {
          "published": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "items": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "$ref": "#/components/schemas/DataDictionaryTable"
            }
          }
        }
      },
      "DataDictionaryTable": {
        "required": [
          "tableName",
          "description"
        ],
        "type": "object",
        "properties": {
          "tableName": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "EventCategoryEtlStatus": {
        "required": [
          "eventCategory",
          "last5Minutes",
          "last60Minutes",
          "last12Hours"
        ],
        "type": "object",
        "properties": {
          "eventCategory": {
            "type": [
              "null",
              "string"
            ]
          },
          "last5Minutes": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "last60Minutes": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "last12Hours": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "EventEtlStatusResponse": {
        "required": [
          "categories",
          "unprocessedEvents"
        ],
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventCategoryEtlStatus"
            }
          },
          "unprocessedEvents": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          }
        }
      },
      "PostReportRequest": {
        "required": [
          "fileName",
          "displayName",
          "description",
          "base64Content"
        ],
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "base64Content": {
            "type": "string",
            "format": "byte"
          },
          "content": {
            "type": [
              "null",
              "string"
            ],
            "format": "byte"
          }
        }
      },
      "PowerBiLinksResponse": {
        "required": [
          "customerLink",
          "vendorLink"
        ],
        "type": "object",
        "properties": {
          "customerLink": {
            "type": [
              "null",
              "string"
            ]
          },
          "vendorLink": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "Report": {
        "required": [
          "id",
          "displayName",
          "lastUpdated",
          "description"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "lastUpdated": {
            "type": [
              "null",
              "string"
            ],
            "format": "date-time"
          },
          "description": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "DataDictionary"
    },
    {
      "name": "EtlStatus"
    },
    {
      "name": "PowerBiLinks"
    },
    {
      "name": "Reports"
    }
  ]
}