{
  "openapi": "3.1.1",
  "info": {
    "title": "Unlimited Engagement Brands Config API",
    "description": "Unlimited Engagement Brands Config API"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/engagements/brands/config"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegisteredBrand"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegisteredBrand"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegisteredBrand"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredBrand"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredBrand"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredBrand"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/{brandId}": {
      "get": {
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "user-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrandRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrandRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrandRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrandRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredBrand"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredBrand"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredBrand"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/availability/prefix": {
      "post": {
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/availability/name": {
      "post": {
        "tags": [
          "Config"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BrandResponse": {
        "type": "object",
        "properties": {
          "brandId": {
            "type": "string",
            "format": "uuid"
          },
          "prefix": {
            "type": [
              "null",
              "string"
            ]
          },
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "isPortalEnabled": {
            "type": "boolean"
          },
          "logoUrl": {
            "type": [
              "null",
              "string"
            ]
          },
          "theme": {
            "type": [
              "null",
              "string"
            ]
          },
          "themeLabel": {
            "type": [
              "null",
              "string"
            ]
          },
          "description": {
            "type": [
              "null",
              "string"
            ]
          },
          "primaryColor": {
            "type": [
              "null",
              "string"
            ]
          },
          "accentColor": {
            "type": [
              "null",
              "string"
            ]
          },
          "engagements": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "locations": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "timeZoneId": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "CreateBrandRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "enablePortal": {
            "type": "boolean"
          },
          "prefix": {
            "type": [
              "null",
              "string"
            ]
          },
          "timeZoneId": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "RegisteredBrand": {
        "required": [
          "id",
          "organizationId",
          "prefix",
          "name",
          "timeZoneId",
          "isPortalEnabled",
          "logoUrl"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The brand ID",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "prefix": {
            "type": [
              "null",
              "string"
            ],
            "description": "Synced with string BrandDetail.Prefix"
          },
          "name": {
            "type": [
              "null",
              "string"
            ],
            "description": "Synced with string BrandDetail.Name"
          },
          "timeZoneId": {
            "type": [
              "null",
              "string"
            ],
            "description": "Synced with string BrandEngagement.TimeZoneId"
          },
          "isPortalEnabled": {
            "type": "boolean",
            "description": "Synced with bool BrandDetail.IsPortalEnabled"
          },
          "logoUrl": {
            "type": [
              "null",
              "string"
            ],
            "description": "Synced with string BrandDetail.LogoUrl"
          }
        },
        "description": "Info for a brand in the centralized org registry"
      },
      "UpdateBrandRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "null",
              "string"
            ]
          },
          "enablePortal": {
            "type": "boolean"
          },
          "prefix": {
            "type": [
              "null",
              "string"
            ]
          },
          "timeZoneId": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "ValueRequest": {
        "type": "object",
        "properties": {
          "value": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Config"
    }
  ]
}