{
  "openapi": "3.1.1",
  "info": {
    "title": "Snowdrop Payer Portfolios API V2 Unlimited API",
    "description": "Snowdrop Payer Portfolios API V2 Unlimited API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.unlimitedfinancials.ninja/snowdrop/payer-portfolios/v2/uapi"
    }
  ],
  "paths": {
    "/portfolios": {
      "post": {
        "tags": [
          "Portfolios"
        ],
        "parameters": [
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UapiAddPortfolioRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UapiAddPortfolioRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UapiAddPortfolioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable"
          }
        }
      }
    },
    "/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Portfolios"
        ],
        "operationId": "GetPortfolio",
        "parameters": [
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "org-id-req",
            "in": "header",
            "description": "Organization Id Request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioAggregate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioAggregate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioAggregate"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Date": {
        "title": "Sharp.Date",
        "type": "string",
        "format": "date",
        "example": "2024-12-11"
      },
      "PortfolioAggregate": {
        "required": [
          "portfolioId",
          "patientId",
          "portfolioType",
          "effectiveStartDate",
          "effectiveEndDate",
          "orderedPolicies",
          "selfPayPayerId",
          "guarantorId",
          "guarantorIsPatient",
          "resumeDate",
          "holdReasonId",
          "isUnderPermanentHold",
          "parentPortfolioId",
          "alternatePortfolioTypeId",
          "isDiscarded",
          "isLocked",
          "removed"
        ],
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "format": "uuid"
          },
          "patientId": {
            "type": "string",
            "format": "uuid"
          },
          "portfolioType": {
            "$ref": "#/components/schemas/PortfolioType"
          },
          "effectiveStartDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          },
          "effectiveEndDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          },
          "orderedPolicies": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "selfPayPayerId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "guarantorId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "guarantorIsPatient": {
            "type": "boolean"
          },
          "resumeDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          },
          "holdReasonId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "isUnderPermanentHold": {
            "type": "boolean"
          },
          "parentPortfolioId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "alternatePortfolioTypeId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "isDiscarded": {
            "type": "boolean"
          },
          "isLocked": {
            "type": "boolean"
          },
          "removed": {
            "type": "boolean"
          }
        }
      },
      "PortfolioType": {
        "type": "integer"
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": [
              "null",
              "integer",
              "string"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        }
      },
      "UapiAddPortfolioRequest": {
        "required": [
          "portfolioId",
          "patientId",
          "portfolioType",
          "effectiveStartDate",
          "effectiveEndDate",
          "orderedPolicies",
          "selfPayPayerId",
          "guarantorId",
          "guarantorIsPatient",
          "runId",
          "actionId"
        ],
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "format": "uuid"
          },
          "patientId": {
            "type": "string",
            "format": "uuid"
          },
          "portfolioType": {
            "$ref": "#/components/schemas/PortfolioType"
          },
          "effectiveStartDate": {
            "$ref": "#/components/schemas/Date"
          },
          "effectiveEndDate": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          },
          "orderedPolicies": {
            "type": [
              "null",
              "array"
            ],
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "selfPayPayerId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "guarantorId": {
            "type": [
              "null",
              "string"
            ],
            "format": "uuid"
          },
          "guarantorIsPatient": {
            "type": "boolean"
          },
          "runId": {
            "type": "string",
            "format": "uuid"
          },
          "actionId": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Portfolios"
    }
  ]
}